body{
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	background: #FAFAFA;
}
.calc-init{
	overflow: hidden;
}
.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1440px;
}
.calc-container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1640px;
}
.c-c{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.c-s{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
}

/* preloader */
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 760;
	height: 100%;
	visibility: hidden;
	opacity: 0;

}
.preloader.preloader-active{
	visibility: visible;
	opacity: 1;
	transition: 50ms ease-in;
	transition-property: opacity,visibility;
}
.preloader-inner{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}
.preloader-progres{
	height: 4px;
	width: 100px;
	border-radius: 4px;
	background: #FFF0E2;
	position: relative;
	overflow: hidden;
}
.preloader-line{
	height: 100%;
	width: 10%;
	background: #C49368;
	transition: 100ms ease-in;
	transition-property: width;
}
.preloader-container{
	flex-direction: column;
}

.preloader-img{
	position: relative;
	display: flex;
	margin-bottom: 1rem;
	/* overflow: hidden; */
}
.preloader-img img{
	width: 100%;
	max-width: 30px;
}
.preloader-active .preloader-img img:nth-child(2) {
  animation: squad 1s ease-in infinite alternate .2s;
}

.preloader-active .preloader-img img:nth-child(1) {
  animation: squad 1s ease-in infinite alternate;
}

.preloader-active .preloader-img img:nth-child(3) {
  animation: squad 1s ease-in infinite alternate .4s;
}
@keyframes squad{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}


/* form-header */
.form-header{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.form-header-text{
	flex: 0 0 55%;
	max-width: 55%;
	width: 100%;
}
.form-header-img{
	flex: 0 0 45%;
	max-width: 45%;
	width: 100%;
}
.header-img-inner img{
	width: 100%;
}
.header-text-inner{
	padding-right: 2rem;
}
.calc-form-descr{
	max-width: 540px;
	font-size: 0.9rem;
	color: #666666;
}
/* form */
.requared-inputs{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0  -0.75rem;
}
.requared-inputs .input-wrapper{
	flex: 0 0 50%;
	max-width: 50%;
	width: 100%;
	padding: 0 0.75rem;
}
.intro-calc{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 800;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transform: scale(0.9);
	transition: 400ms cubic-bezier(0, 0.9, 0.4, 1);
	transition-property: transform,opacity,visibility;
}
.intro-calc.intro-show{
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}
.intro-calc .container{
	position: relative;
	width: auto;
	min-height: calc(100% - (1.75rem * 2));
	display: flex;
	align-items: center;
}
.calc-form-title{
	font-size: 1.75rem;
	line-height: 1;
	margin-bottom: 1rem;
	font-weight: 700;
}
.intro-calc .content{
width: 100%;
}
.rc-form{
	margin-top: 2rem;
}
.rc-form-inner{
	margin-top: 2rem;
	max-width: 400px;
}

.start-design,.form-results input[type="submit"]{
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	background: #C49368;
	padding: 1rem 4rem;
	margin-top: 2rem;
	border: none;
	border-radius: 3px;
	outline: none;
	transition: 200ms ease-in;
	transition-property: box-shadow, transform;
}
.form-results input[type="submit"]{
	margin-top: 0;
	width: 100%;
}
.start-design:hover,.form-results input[type="submit"]:hover{
	cursor: pointer;
	transform: translate(0,-2px);
	box-shadow: 0px 16px 24px rgba(196, 147, 104, 0.16), 0px 2px 6px rgba(196, 147, 104, 0.07), 0px 0px 1px rgba(196, 147, 104, 0.04);}


.input-wrapper{
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
	position: relative;
}
.error-tooltip{
	position: absolute;
	font-family:'Inter',sans-serif;
	display: block;
	width: 150px;
	line-height: 1.25;
	right: 50%;
	font-size: 0.8rem;
	padding: 0.75rem;
	top: 0;
	transform: translate(50%,-95%);
	opacity: 0;
	background: #333333;
	border-radius: 3px;
	z-index: 150;
	color: #ffffff;
	visibility: hidden;
	transition: 200ms ease-in;
	transition-property: transform,	opacity,visibility;
}
.error-tooltip.error-show{
	transform: translate(50%,-100%);
	opacity: 1;
	visibility: visible;
}
.input-wrapper input{
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	font-weight: 700;
	width: 100%;
	box-shadow: 0 0 0 0.5px transparent;
	transition: 200ms ease-in;
	transition-property: border,box-shadow;
	
}
.input-wrapper input:focus{
	border: 1px solid #C49368;
	box-shadow: 0 0 0 0.5px #C49368;
	outline: none;
}


.input-number button{
	height: 100%;
	display: block;
	padding: 0.55rem 1rem;
	font-size: 1.2rem;
  border-radius: 3px;
	font-weight: 700;
	border: none;
	transition: 200ms ease-in;
	transition-property: color,background;
}
.input-number button:hover{
cursor: pointer;
background: #fdf2e7;
}
.input-number button:focus{
outline: none;
box-shadow: 0 0 0 0.5px #C49368;
	}
.input-number{
	border: 1px solid #c4c4c4;
}
.input-number input{
	border: none;
	text-align: center;
}
.input-number input:focus{
	border: none;
}

.radio-title,.input-wrapper label{
	font-size: 0.9rem;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 0.5rem;
}
.fieldset-inner{
	margin: 0 -4px;
	margin-bottom: 1.5rem;
}
.form-radio{
	padding: 0 4px;
}
.form-radio input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.form-radio label{
	padding: 0.75rem 1.25rem;
    border: 1px solid #c4c4c4;
		border-radius: 3px;
		font-size: 1rem;
		font-weight: 700;
		color: #666666;
		transition: 200ms ease-in;
		transition-property: color,background,border;
		margin-bottom: 0;
		background: #fff;
}
.form-radio label:hover{
	cursor: pointer;
}
.form-radio input:checked + label{
background: #fdf2e7;
color: #333333;
	border: 1px solid #C49368;
}


.repair-calc{
	position: relative;
	overflow-x: hidden;
}
.calc-outer{
transition: 300ms ease-in;
display: block;
opacity: 1;

}
.hiden-step{
display: none;
}



/* room-select */
.select-room-dealog{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 700;
	background: #ffffff;
	transition: 200ms ease-in;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: visible;
	transition-property: opacity,visibility;
	z-index: 750;

}
.select-room-dealog.hidden{
	visibility: hidden;
	opacity:0;
}

.select-room-dealog .container{
	position: relative;

	min-height: calc(100% - (1.75rem * 2));
	display: flex;
	align-items: center;
}
.content{
	width: 100%;
}

.select-room-cards{
	display: flex;
	margin: 0 -4px;
}
.select-room-card{
	display: flex;
	max-width: 25%;
	width: 100%;
	padding: 4px;
	flex: 0 0 25%;
	position: relative;
}


.room-card-inner > *{
	position: relative;
	z-index: 10;
}
.room-card-img{
	position: absolute;
	height: 115%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: .4;
	z-index: 1;
	transition: 200ms ease-in;
	transition-property: opacity;
}
.room-card-inner{
	overflow: hidden;
	position: relative;
	padding: 1.5rem;
	min-height: 50vh;
	background: #333333;
	width: 100%;
}
.buillder-title.room-card-title,.room-card-descr.buillder-descr{
	color: #fff;
	margin-top: 0.5rem;
}
.room-card-descr.buillder-descr{
	color: #fff;
	opacity: 0.9;
	font-weight: 400;
}
.room-card-button{
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	font-size: 1.5rem;
	background: rgba(255, 255, 255,0.3);
	color: #fff;
	transition: 200ms ease-in;
	transition-property: background;
}

.select-room-card:hover .room-card-button{
	background: #C49368;
}
.select-room-card:hover{
	cursor: pointer;
}
.select-room-card:hover .room-card-img{
	opacity: 0.7;
}
.select-room-header{
	flex-direction: column;
}
.select-room-header{
	margin-bottom: 2rem;
}
.site-calc-logo img{
	width: 100%;
	max-width: 200px;
}
.select-room-title{
	text-align: center;
	max-width: 500px;
	font-weight: 600;
	line-height: 1.25;
	margin-top: 2rem;
}

/* zoom-btn */
.zoom-button{
	background: rgba(0, 0, 0,0.6);
	position: absolute;
	z-index: 75;
	top: 0.5rem;
	right: 0.5rem;
	padding: 0;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 4px;
	transition: 200ms ease-in;
	transition-property: background;
	border: none;
}
.zoom-button:hover{
	background: rgba(0, 0, 0,1);
	cursor: pointer;
}
.zoom-button .btn-icon{
	margin-right: 0;
	font-size: 1.5rem;
}

/* form-checkbox */
.form-check input[type=checkbox] + label{
    cursor: pointer;
    padding-left: 2rem;
    position: relative;
		user-select: none;
		margin: 0;
		margin-top: 0.35rem;
}
.form-check .checkbox-inner{
	display: block;
}
.form-check input[type=checkbox] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.form-check input + label{
	padding-left: 1.5rem;
}
.form-check input[type=checkbox] + label:before {
  content: "\e902";
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	left: 0;
	display: block;
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	top: 0rem;
	transform: translate(0.25rem,0rem);
	/* padding: 0.25rem; */
	color: transparent;
	transition: all 0.2s;
	z-index: 10;
}
.form-check input[type=checkbox] + label:after {
	content: '';
	border: 2px solid #ddd;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	left: 0;
	top: 0rem;
	transition: all 0.2s;
	z-index: 9;
}
.form-check input[type=checkbox] + label:active:before {
  transform: scale(0.5);
}
.form-check input[type=checkbox] + label:active:after{
	transform: scale(0.5);
}
.form-check input[type=checkbox] + label:hover:after{
	border: 2px solid #9b9b9b;
}
.form-check input[type=checkbox]:checked + label:before {

  color: #fff;
}
.form-check input[type=checkbox]:checked + label:after {
	background-color: #C49368;
	border: #C49368;
}
.form-check-wrapper{
	margin-bottom: 0.5rem;
}



.calc-results{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 400;
}
.next-choose{
	color: #ffffff;
	background: #C49368;
	border: none;
	outline: none;
	padding: 1rem 5rem;
	line-height: 1;
	font-weight: 700;
}
.next-choose:hover{
	cursor: pointer;
}
.next-choose .btn-icon{
	transition: 200ms ease-in;
	transition-property: transform;
}
.next-choose:hover .btn-icon{
	transform: translate(3px,0);
}

.button-text{
	margin-right: 0.25rem;
}
.calc-total-lable,.calc-results-total .calc-total-lable{
	font-size: 0.9rem;
	color: #808080;
	font-weight: 400;
}
.curent-cost-ineer{
	font-size: 1.2rem;
	color: #333333;
	font-weight: 700;
	margin-right: 2rem;

}
.calc-results-total{
	min-width: 180px;
}
.calc-results-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	background: #ffffff;
	border: 1px solid #EFEFEF;
	border-bottom: none;
	position: relative;
}
.to-room-button{
    border: none;
    outline: none;
    padding: 1rem 2rem;
    line-height: 1;
		font-weight: 700;
		background: #fff;
		color: #C49368;
		transition: 200ms ease-in;
		transition-property: background,transform;
}
.to-room-button:hover{
	background: #fff8f1;
	cursor: pointer;
}
.to-room-button:focus{
	outline: none;
}
.to-room-button .button-text{
	margin-right: 0rem;
	margin-left: 0.25rem;
}

/* progress-btn */
.progress-btn{
	font-size: 1rem;
	font-weight: 700;
	outline: none;
	border: none;
	background: #ffffff;
	padding: 1rem 2.2rem;
	position: relative;
	overflow: hidden;
	margin-right: 10px;
	transition: 200ms ease-in;
	transition-property: background,transform;
}

.calc-object{
	padding: 1rem 0.65rem; 
	transition: 200ms ease-in;
	transition-property: background,transform;
	font-size: 0.9rem;
	font-weight: 700;
	outline: none;
	border: none;
	background: #ffffff;
	border-bottom: 1px solid #EFEFEF;
}
.calc-object:focus{
	outline: none;
}
.calc-object:hover{
	background: #fff8f1;
	cursor: pointer;
}
.calc-object:last-child{
	border-bottom: 1px none;
}

.calc-object .btn-iner{
flex-direction: column;
}
.calc-object .progress-btn-icon {
	margin-right: 0;
}

.progress-btn:hover{
	background: #fff8f1;
	cursor: pointer;
}
.progress-btn:focus{
outline: #FFF0E2;
}
.active-step{
	background: #FFF0E2;
}
.active-step:hover{
	background: #FFF0E2;
}
.progress-btn-icon{
	margin-right: 0.65rem;
	width: 2.15rem;
	height: 2.15rem;
	flex: 0 0 2.15rem;
}
.progress-btn-icon img{
	width: 100%;
}


.builder-render{
	position: relative;
}
.placeholder{
	width: 100%;
	height: auto;
}
.builder-render-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 150ms ease-in;
	transition-property: background;
}
.builder-render > img{
width: 100%;
}
.wall-texture{
position: absolute;
top: 0;
left: 0;
z-index: 10;
}

.flore-texture{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}
.flore-shadow{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 17;
}
.plinth-shadow{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}
.plinth-texture{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
}
.door-shadow{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
}
.door-texture{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 35;
}
.design-lamp,.design-flo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
}
.design-sofa{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 45;
}
.design-light{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

.builder-inner{
	background: #ffffff;
	margin-top: 2rem;

	padding-left: 0;
	border-radius: 4px;
	margin-bottom: 5rem;
}
.builder-step{
	display: flex;
	position: relative;
	padding-left: 5rem;
}
.calc-objects{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-right: 1px solid #EFEFEF;
	z-index: 300;
	background: #ffffff;
}
.calc-objects-inner{
	display: flex;
	flex-direction: column;
}


.builder-options-inner{
	flex: 0 0 25%;
	max-width: 25%;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-width: 330px;
}
.builder-options{
	padding-right: 1.25rem;
	width: 100%;
	overflow-y: auto;
	/* overflow-x: hidden; */
	max-width: 700px;
	padding-left: 1.5rem;

}
.builder-render{
	/* flex: 0 0 75%; */
	max-width: 75%;
	width: 100%;
}



.buillder-title{
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 0.25rem;
}
.buillder-descr{
	font-size: 0.9rem;
	color: #808080;
}

.texture-options{
	padding-top: 1.25rem;
}

/* single-options */

.single-option{
	flex: 0 0 50%;
	max-width: 50%;
	width: 100%;
	padding: 0 6px;
	margin-bottom: 12px;
}
.option-wide{
	flex: 0 0 100%;
	max-width: 100%;
}
.options-descr{
	padding: 0.65rem;
}
.option-img{
	position: relative;
}
.option-img img{
	width: 100%;
}
.option-img svg{
	width: 100%;
	height: auto;
}
.options-descr h4{
margin-bottom: 0.25rem;
line-height: 1.2;
}
.options-descr p{
	margin-bottom: 0;
	font-size: 0.8rem;
	color: #808080;
	line-height: 1.1;
}
.single-option-inner{
	background: #ffffff;
	border: 1px solid #EFEFEF;
	border-radius: 3px;
	height: 100%;
	transition: 200ms ease-in;
	transition-property: border,transform;
}
.single-option-inner.selected{
	border: 1px solid #97B1A7;
}
.single-option-inner.selected:hover{
	border: 1px solid #97B1A7;
}
.single-option-inner:hover{
	border: 1px solid #cacaca;
	cursor: pointer;
}
.single-option-inner:active{
transform: scale(0.9);
}

.check-indicator{
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 100;
	visibility: hidden;
	transform: scale(0.7);
	opacity: 0;
	transition: 200ms ease-in;
	transition-property: visibility,opacity,transform;
}
.selected .check-indicator{
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}
.check-icon{
	border-radius: 2rem;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1rem;
	background: #91c4b0;
}
.options-outer{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -6px;
	margin-bottom: 2rem;
}

.adv-descr{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 120;
}
.adv-descr span:before{
	transform: rotate(180deg);
}
/* tooltip */
.tooltip{
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 1.2rem;
	opacity: 0.5;
	transition: 200ms ease-in;
	transition-property: opacity;
}
.tooltip:after{
	content: attr(data-tooltip);
	position: absolute;
	font-family:'Inter',sans-serif;
	display: block;
	width: 150px;
	line-height: 1.25;
	left: 0%;
	font-size: 0.8rem;
	padding: 0.75rem;
	top: 0;
	transform: translate(-20%,1.75rem);
	opacity: 0;
	background: #333333;
	/* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15); */
	border-radius: 3px;
	z-index: 150;
	color: #ffffff;
	transition: 200ms ease-in;
	visibility: hidden;
	transition-property: transform,	opacity,visibility;
}
.tooltip:hover:after{
	visibility: visible;
	transform: translate(-20%,1.2rem);
	opacity: 1;
	z-index: 200;
}
.tooltip:hover{
	opacity: 1;
}

/* color-select */
.color-select{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.color-show{
	width: 100%;
	padding: 0.5rem 1rem;
	font-weight: 700;
	border: none;
	outline: none;
	color: #323232;
	background: #FFF0E2;
}
/* color-variables */
.back-btn,.close-results{
	background: transparent;
	outline: none;
	border: none;
	color: #C49368;
	font-weight: 600;
	font-size: 1rem;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	margin-left: -0.75rem;
	line-height: 1;
	margin-bottom: 0.75rem;
	transition: 200ms ease-in;
	transition-property: background;
	border-radius: 4px;
}
.back-btn:hover,.close-results:hover{
	background: rgba(196, 147, 104,0.07);
	cursor: pointer;
}
.btn-icon{
	font-size: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.25rem;
}
.hidden-option{
	position: absolute;

	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	transform: translate(-100%,0);
	transition: 200ms ease-in;
	background: #ffffff;
	overflow-x: hidden;
	padding-left: 1.5rem;
	padding-top: 1.25rem;
	padding-right: 1.25rem;
	z-index: 200;
}
.hidden-option.select{
	transform: translate(0%,0);
}




/* rc-presets */
.rc-presets{
	margin-top: 2rem;
}
.rc-presets-inner{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.25rem;
}
.rc-presets-card{
	flex: 0 0 20%;
	max-width: 20%;
	width: 100%;
	padding: 0.25rem;
}
.rc-presets-card-inner{
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	height: 150px;
	padding: 0.75rem;
	background: #333333;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-end;
	transition: 200ms ease-in;
	transition-property: box-shadow,transform;
}
.rc-presets-card-inner:hover{
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	transform: translate(0,-3px);
	cursor: pointer;
}
.rc-presets-card-inner img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: auto;
	height: 120%;
	opacity: 0.7;
}
.rc-presets-card-inner .rc-presets-card-title{
	position: relative;
}

.rc-presets-card-inner .preset-price{
	position: relative;
}
.rc-presets-card-title{
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
}
.preset-price{
	color: #fff;
	font-weight: 400;
	margin-bottom: 0;
}
.rc-presets-descr{
	max-width: 500px;
}


/* bathroom */
.bathroom-flore{
	position: relative;
	width: 100%;
}
.bathroom-wall{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.bathroom-interier{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
}
.bathroom-bowl{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}
.bathroom-bath{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}
.bathroom-tumb{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
}

/* kitchen */
.kithen-flore-texture{
	position: absolute;
	top: 0;
	left: 0;
	z-index:5;
}
.kitchen-bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index:2;
	width: 100%;
	height: auto;
}
.kithen-wall{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
.kithen-tile-texture{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.kithen-interier{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}
.kitchen-heheadset{
	position: absolute;
	top: 0;
	left: 0;
	z-index:16;
	width: 100%;
	height: auto;
}
.kitchen-headset-texture{
	position: absolute;
	top: 0;
	left: 0;
	z-index:17;
}
.kithen-door{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}
.kithen-chairs{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
}
.kithen-lamps{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
}

.rc-options{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5rem;
}
.rc-option{
	width: 100%;
	max-width: 25%;
	flex: 0 0 25%;
	padding: 0 0.5rem;
	margin-bottom: 1rem;
}

.rc-option-inner .options-descr{
padding: 1rem;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
}
.rc-option-inner{
	background: #ffffff;
	border: 1px solid #EFEFEF;
	border-radius: 0.5rem;
	overflow: hidden;
	height: 100%;
	transition: 200ms ease-in;
	transition-property: border,transform;
	height: 100%;
	user-select: none;
}
.rc-option-img{
position: relative;	
}
.rc-option-img img{
	width: 100%;
}
.selected .check-indicator {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}
.selected-default .check-indicator {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}
.rc-option-inner.selected-default{
	border: 1px solid #97B1A7;
}
.rc-option-inner.selected{
	border: 1px solid #97B1A7;
}
.rc-option-inner.selected-default:hover{
	border: 1px solid #97B1A7;
	transform: translate(0,0px);
}
.rc-option-inner:hover{
	border: 1px solid #cacaca;
		cursor: pointer;
		transform: translate(0,-2px);
}
.rc-option-inner.selected:hover {
	border: 1px solid #97B1A7;
	transform: translate(0,0px);
}
.options-descr .option-price{
	margin-top: 0.5rem;
	margin-bottom: 0;
	color: #2E2E2E;
	font-size: 0.8rem;
	font-weight: 600;
}
.selected-default .options-descr .option-price{
	background: #EEE;
	padding: 0.25rem 0.75rem;
	color: #666666;
}
.rc-options-header{
	margin-top: 2rem;
}
.adv-options{
	margin-bottom: 5rem;
}


.resutl-form{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 800;
	transition: 200ms ease-in;
  opacity: 0;
	visibility: hidden;
	overflow-y: auto;
}
.resutl-form.resutl-enter{
	opacity: 1;
  visibility: visible;
}
.resutl-form-inner .container{
	max-width: 640px;
}
.resutl-form-inner{
margin-top: 2rem;
}
.results-header .calc-results-total{
	background: #FAFAFA;
	padding: 1rem;
	margin-bottom: 2rem;
}

@media(max-width:1440px){
	.adv-options .container{
	max-width: 1180px;
	}
	.rc-option{
		max-width: 33.33%;
		flex: 0 0 33.33%;
	}
	}

@media(max-width:1440px){
.intro-calc .container{
max-width: 1180px;
}
}
@media(max-width:1200px){
	.builder-step{
		flex-direction: column;
		padding-left: 0;
	}
	.builder-render{
		order: 0;
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.builder-options-inner{
		order: 2;
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.builder-options{
		max-width: none;
	}
	.flore-texture,.kithen-flore-texture{
		position: relative;
	}
	.single-option{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.calc-objects{
		order: 1;
		position: relative;
		overflow-y: hidden;
		overflow-x: auto;
		border: none;
	}
.calc-objects-inner{
	flex-direction: row;
	border-bottom: none;
}

.calc-object  .btn-iner{
	flex-direction: row;
}
.calc-object .progress-btn-icon{
margin-right: 0.5rem;
}
.calc-object{
	padding:  0.65rem 1rem;
	border-bottom: none;
}
}
@media(max-width:968px){
	.rc-presets-card{
		min-width: 220px;
	}
	.rc-presets-inner{
		flex-wrap: nowrap;
		overflow-x: auto;
	}
	.select-room-cards{
		flex-wrap: wrap;
	}
	.select-room-card{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.room-card-inner{
		min-height: 270px;
	}
	.room-card-img{
		height: auto;
		width: 100%;
	}
	.room-card-icon img{
	width: 100%;
	max-width: 3rem;
	}
	.select-room-title{
		font-size: 1.2rem;
	}
	.header-text-inner{
		padding-right: 0;
	}

	.form-header{
		flex-wrap: nowrap;
	}
	.header-img-inner{
		height: 100%;
	}
	.form-header-img{
		flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 50%;
	}
	.header-img-inner img{
	width: auto;
	height: 100%;
}
	.form-header-text{
		min-width: 420px;
		flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50%;
	}

}
@media(max-width:884px){
	.rc-option{
		max-width: 50%;
		flex: 0 0 50%;
	}
}
@media(max-width:724px){
	.single-option{
		flex: 0 0 33.33%;
    max-width: 33.33%;
	}
	.next-choose{
		padding: 1rem 3rem;
	}
	.builder-inner,.adv-options{
		margin-bottom: 4rem;
	}
}

@media(max-width:576px){
	.single-option{
		flex: 0 0 50%;
    max-width: 50%;
	}
	.next-choose .button-text{
		display: none;
	}
	.next-choose ,.to-room-button{
		padding: 1rem 2rem;
	}
	.rc-option{
		max-width: 100%;
		flex: 0 0 100%;
	}
}
@media(max-width:476px){
	.select-room-header{
		margin-bottom: 1rem;
	}
	.room-card-inner{
		padding: 0.75rem;
		min-height: 230px;
	}
	.room-card-button{
		bottom: 1rem;
		right: 1rem;
		width: 2.5rem;
    height: 2.5rem;
	}
	.room-card-img{
		height: 125%;
		width: auto;
	}

	.hidden-option{
		padding: 0.75rem;
	}
	.texture-options{
		padding-top: 0.75rem;
	}
	.builder-options{
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
	.to-room-button .button-text{
		display: none;
	}
	.rc-presets-card-inner{
		height: 120px;
	}

	.form-header-img{
		display: none;
	}
	.form-header-text{
		min-width: auto;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.rc-form-inner{
		max-width: none;
	}
	.requared-inputs{
		margin: 0;
	}
	.input-wrapper:first-child{
		padding-left: 0;
	}
	.input-wrapper:last-child{
		padding-right: 0;
	}
}
@media(max-width:425px){
	.next-choose ,.to-room-button{
		padding: 1rem 1rem;
	}
	.calc-object .progress-btn-icon{
		width: 1.75rem;
    height: 1.75rem;
    flex: 0 0 1.75rem;
	}
	.room-card-icon img{
		max-width: 3rem;
	}
	.buillder-title,.rc-presets-card-inner .rc-presets-card-title{
		font-size: 1.1rem;
	}
	.builder-options{
		height: 52vh;
	}
	.form-radio label{
		padding: 0.5rem 1rem
	}
	.start-design{
		width: 100%;
		padding: 1rem;
	}

}
@media(max-width:396px){
	.room-card-inner{
		min-height: 220px;
	}
	.builder-options-inner{
		min-width: auto;
	}
	.fieldset-inner{
		flex-wrap: wrap;
	}
	.form-radio{
		margin-top: 4px;
		margin-bottom: 4px;
	}
}